* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100vw;
}

/* Hero section starts */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html{
  font-family: 'Montserrat';
  font-size: 18px;
}

#hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.458),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.062), rgba(0, 0, 0, 0.432)), url(/yann-allegre-83icOWazZZ4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;

}

.container{
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding-top: 11rem;
}

.container .info #dst{
  font-family: 'Montserrat';
  font-size: 1.3rem;
  text-decoration: underline;
  color: rgb(19, 28, 199);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.container .info h2{
  font-size: 2.5rem;
  font-weight: 800;
}

.container .info p{
  font-size: 0.89rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.btn{
  text-decoration: none;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5em 2em;
  font-weight: 550;
  color: black;
}

/* Hero section ends */
